 
/* start css.sty */
.cmmi-10{font-style: italic;}
.cmbx-12x-x-172{font-size:206%; font-weight: bold;}
.cmbx-12x-x-172{ font-weight: bold;}
.cmr-17{font-size:170%;}
.cmr-12{font-size:120%;}
.cmbx-10{ font-weight: bold;}
.cmbx-10{ font-weight: bold;}
.cmr-8{font-size:80%;}
.cmmi-8{font-size:80%;font-style: italic;}
.cmti-10{ font-style: italic;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-10{font-family: monospace,monospace;}
.cmtt-8{font-size:80%;font-family: monospace,monospace;}
.cmtt-8{font-family: monospace,monospace;}
.cmtt-8{font-family: monospace,monospace;}
.cmtt-8{font-family: monospace,monospace;}
.cmitt-10x-x-80{font-size:80%;font-family: monospace,monospace; font-style: italic;}
.cmitt-10x-x-80{font-family: monospace,monospace; font-style: italic;}
.cmitt-10{font-family: monospace,monospace; font-style: italic;}
.cmitt-10{font-family: monospace,monospace; font-style: italic;}
.tctt-1000{font-family: monospace,monospace;}
p{margin-top:0;margin-bottom:0}
p.indent{text-indent:0;}
p + p{margin-top:1em;}
p + div, p + pre {margin-top:1em;}
div + p, pre + p {margin-top:1em;}
a { overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; hyphens: auto; }
@media print {div.crosslinks {visibility:hidden;}}
table.tabular{border-collapse: collapse; border-spacing: 0;}
a img { border-top: 0; border-left: 0; border-right: 0; }
center { margin-top:1em; margin-bottom:1em; }
td center { margin-top:0em; margin-bottom:0em; }
.Canvas { position:relative; }
img.math{vertical-align:middle;}
div.par-math-display, div.math-display{text-align:center;}
body{ margin:1em auto; max-width:80ch; padding:0 .62em; }
h1,h2,h3,h4,h5 { line-height:1.2; }
@media print{ body{ max-width:none } }
.partHead, .likepartHead { font-size: 2em; }
.chapterHead, .likechapterHead { font-size: 1.7411em; }
.sectionHead, .likesectionHead { font-size: 1.5157em; }
.subsectionHead, .likesubsectionHead { font-size: 1.3195em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1.1487em; }
 @media (prefers-color-scheme: dark) { img[src^="MIC411apuntes"]{filter: invert(1); } } 
li p.indent { text-indent: 0em }
li p:first-child{ margin-top:0em; }
li p:last-child, li div:last-child { margin-bottom:0.5em; }
li p:first-child{ margin-bottom:0; }
li p~ul:last-child, li p~ol:last-child{ margin-bottom:0.5em; }
.enumerate1 {list-style-type:decimal;}
.enumerate2 {list-style-type:lower-alpha;}
.enumerate3 {list-style-type:lower-roman;}
.enumerate4 {list-style-type:upper-alpha;}
div.newtheorem { margin-bottom: 2em; margin-top: 2em;}
div.newtheorem .head{font-weight: bold;}
.obeylines-h,.obeylines-v {white-space: nowrap; }
div.obeylines-v p { margin-top:0; margin-bottom:0; }
.overline{ text-decoration:overline; }
.overline img{ border-top: 1px solid black; }
td.displaylines {text-align:center; white-space:nowrap;}
.centerline {text-align:center;}
.rightline {text-align:right;}
pre.verbatim {font-family: monospace,monospace; text-align:left; clear:both; }
.fbox {padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.fbox {display:table}
div.center div.fbox {text-align:center; clear:both; padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
div.minipage{width:100%;}
div.center, div.center div.center {text-align: center; margin-left:1em; margin-right:1em;}
div.center div {text-align: left;}
div.flushright, div.flushright div.flushright {text-align: right;}
div.flushright div {text-align: left;}
div.flushleft {text-align: left;}
.underline{ text-decoration:underline; }
.underline img{ border-bottom: 1px solid black; margin-bottom:1pt; }
.framebox-c, .framebox-l, .framebox-r { padding-left:3.0pt; padding-right:3.0pt; text-indent:0pt; border:solid black 0.4pt; }
.framebox-c {text-align:center;}
.framebox-l {text-align:left;}
.framebox-r {text-align:right;}
span.thank-mark{ vertical-align: super }
span.footnote-mark sup.textsuperscript, span.footnote-mark a sup.textsuperscript{ font-size:80%; }
code.verb{font-family:monospace,monospace;}
div.tabular, div.center div.tabular {text-align: center; margin-top:0.5em; margin-bottom:0.5em; }
table.tabular td p{margin-top:0em;}
table.tabular {margin-left: auto; margin-right: auto;}
td p:first-child{ margin-top:0em; }
td p:last-child{ margin-bottom:0em; }
div.td00{ margin-left:0pt; margin-right:0pt; }
div.td01{ margin-left:0pt; margin-right:5pt; }
div.td10{ margin-left:5pt; margin-right:0pt; }
div.td11{ margin-left:5pt; margin-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
td.td00{ padding-left:0pt; padding-right:0pt; }
td.td01{ padding-left:0pt; padding-right:5pt; }
td.td10{ padding-left:5pt; padding-right:0pt; }
td.td11{ padding-left:5pt; padding-right:5pt; }
table[rules] {border-left:solid black 0.4pt; border-right:solid black 0.4pt; }
.hline hr, .cline hr{ height : 0px; margin:0px; }
.hline td, .cline td{ padding: 0; }
.hline hr, .cline hr{border:none;border-top:1px solid black;}
.hline {border-top: 1px solid black;}
.hline + .vspace:last-child{display:none;}
.hline:first-child{border-bottom:1px solid black;border-top:none;}
.tabbing-right {text-align:right;}
div.float, div.figure {margin-left: auto; margin-right: auto;}
div.float img {text-align:center;}
div.figure img {text-align:center;}
.marginpar,.reversemarginpar {width:20%; float:right; text-align:left; margin-left:auto; margin-top:0.5em; font-size:85%; text-decoration:underline;}
.marginpar p,.reversemarginpar p{margin-top:0.4em; margin-bottom:0.4em;}
.reversemarginpar{float:left;}
table.equation {width:100%;}
.equation td{text-align:center; }
td.equation { margin-top:1em; margin-bottom:1em; } 
td.equation-label { width:5%; text-align:center; }
td.eqnarray4 { width:5%; white-space: normal; }
td.eqnarray2 { width:5%; }
table.eqnarray-star, table.eqnarray {width:100%;}
div.eqnarray{text-align:center;}
div.array {text-align:center;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.pmatrix img{vertical-align:middle;}
div.pmatrix {text-align:center;}
table.pmatrix {width:100%;}
span.bar-css {text-decoration:overline;}
img.cdots{vertical-align:middle;}
.partToc a, .partToc, .likepartToc a, .likepartToc {line-height: 200%; font-weight:bold; font-size:110%;}
.chapterToc a, .chapterToc, .likechapterToc a, .likechapterToc, .appendixToc a, .appendixToc {line-height: 200%; font-weight:bold;}
.index-item, .index-subitem, .index-subsubitem {display:block}
div.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:left;}
div.caption span.id{font-weight: bold; white-space: nowrap; }
h1.partHead{text-align: center}
p.bibitem { text-indent: -2em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
p.bibitem-p { text-indent: 0em; margin-left: 2em; margin-top:0.6em; margin-bottom:0.6em; }
.subsubsectionHead, .likesubsubsectionHead { font-size: 1em; }
.paragraphHead, .likeparagraphHead { margin-top:2em; font-weight: bold;}
.subparagraphHead, .likesubparagraphHead { font-weight: bold;}
.verse{white-space:nowrap; margin-left:2em}
div.maketitle {text-align:center;}
h2.titleHead{text-align:center;}
div.maketitle{ margin-bottom: 2em; }
div.author, div.date {text-align:center;}
div.thanks{text-align:left; margin-left:10%; font-size:85%; font-style:italic; }
div.author{white-space: nowrap;}
h1.partHead{text-align: center}
div.abstract p {margin-left:5%; margin-right:5%;}
div.abstract {width:100%;}
.abstracttitle{text-align:center;margin-bottom:1em;}
 .chapterToc, .likechapterToc {margin-left:0em;}
 .likesectionToc, .sectionToc {margin-left:1em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsectionToc, .subsectionToc {margin-left:2em;}
 .likesubsubsectionToc, .subsubsectionToc {margin-left:3em;}
.paragraphToc, .likeparagraphToc {margin-left:4em;}
.subparagraphToc, .likesubparagraphToc {margin-left:5em;}
figure.float, div.figure {margin-left: auto; margin-right: auto;}
figure.figure {text-align:center;}
figcaption.caption {text-indent:-2em; margin-left:3em; margin-right:1em; text-align:center;}
figcaption.caption span.id{font-weight: bold; white-space: nowrap; }
p + figcaption, img + figcaption{margin-top: 1em;}
.abstract{margin:1em;}
.rotatebox{display: inline-block;}
div.verbatiminput {font-family: monospace,monospace; white-space: nowrap; }
.equation td{text-align:center; }
.equation-star td{text-align:center; }
table.equation-star { width:100%; }
table.equation { width:100%; }
table.align, table.alignat, table.xalignat, table.xxalignat, table.flalign {width:95%; margin-left:5%; white-space: nowrap;}
table.align-star, table.alignat-star, table.xalignat-star, table.flalign-star {margin-left:auto; margin-right:auto; white-space: nowrap;}
td.align-label { width:5%; text-align:center; }
td.align-odd { text-align:right; padding-right:0.3em;}
td.align-even { text-align:left; padding-right:0.6em;}
table.multline, table.multline-star {width:100%;}
td.gather {text-align:center; }
table.gather {width:100%;}
div.gather-star {text-align:center;}
.cancel{background: linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
.bcancel{background: linear-gradient(to bottom left, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
.xcancel{background: linear-gradient(to bottom left, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%), linear-gradient(to left top, transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);}
code.lstinline{font-family:monospace,monospace;}
pre.listings{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
.lstlisting .label{margin-right:0.5em; }
pre.lstlisting{font-family: monospace,monospace; white-space: pre-wrap; margin-top:0.5em; margin-bottom:0.5em; }
pre.lstinputlisting{ font-family: monospace,monospace; white-space: pre-wrap; }
.lstinputlisting .label{margin-right:0.5em;}
.alltt P { margin-bottom : 0em; margin-top : 0em; }
.alltt { margin-bottom : 1em; margin-top : 1em; font-family:monospace,monospace; }
.subfigcaption {margin-top:1em; margin-left:1em; text-align:center;}
div.subfigure {text-align:center;display:inline-block;}
code.minted-inline{font-family:monospace,monospace;}
pre.fancyvrb {white-space: pre-wrap; margin:0em;font-family:monospace,monospace;}
.framedenv{border: 1px solid black;}
.tcolorbox{margin-top:0.5em;margin-bottom: 0.5em;}
.tcolorbox .lowerbox{margin-top:0pt;}
dt.printshorthands{float:left; clear:left; margin-right:1em;}
span#textcolor1{color:#FF0000}
span#textcolor2{color:rgb(0,225,0)}
span#textcolor3{color:#FF0000}
span#textcolor4{color:#FF0000}
span#textcolor5{color:#FF0000}
span#textcolor6{color:#FF0000}
span#textcolor7{color:#FF0000}
span#textcolor8{color:#FF0000}
span#textcolor9{color:rgb(0,225,0)}
span#textcolor10{color:#FF0000}
span#textcolor11{color:rgb(206,91,0)}
span#textcolor12{color:rgb(247,247,247)}
span#textcolor13{color:rgb(0,0,0)}
span#textcolor14{color:rgb(247,247,247)}
span#textcolor15{color:rgb(0,0,0)}
span#textcolor16{color:rgb(247,247,247)}
span#textcolor17{color:rgb(0,0,0)}
span#textcolor18{color:rgb(0,0,0)}
span#textcolor19{color:rgb(0,0,0)}
span#textcolor20{color:rgb(0,0,0)}
span#textcolor21{color:rgb(247,247,247)}
span#textcolor22{color:rgb(0,0,0)}
span#textcolor23{color:rgb(0,0,0)}
span#textcolor24{color:rgb(247,247,247)}
span#textcolor25{color:rgb(0,0,0)}
span#textcolor26{color:rgb(0,0,0)}
span#textcolor27{color:rgb(247,247,247)}
span#textcolor28{color:rgb(0,0,0)}
span#textcolor29{color:rgb(0,0,0)}
span#textcolor30{color:rgb(247,247,247)}
span#textcolor31{color:rgb(142,89,2)}
span#textcolor32{color:rgb(206,91,0)}
span#textcolor33{color:rgb(247,247,247)}
span#textcolor34{color:rgb(0,0,0)}
span#textcolor35{color:rgb(247,247,247)}
span#textcolor36{color:rgb(0,0,0)}
span#textcolor37{color:rgb(247,247,247)}
span#textcolor38{color:rgb(0,0,0)}
span#textcolor39{color:rgb(0,0,0)}
span#textcolor40{color:rgb(0,0,0)}
span#textcolor41{color:rgb(0,0,0)}
span#textcolor42{color:rgb(0,0,0)}
span#textcolor43{color:rgb(0,0,0)}
span#textcolor44{color:rgb(247,247,247)}
span#textcolor45{color:rgb(142,89,2)}
span#textcolor46{color:rgb(206,91,0)}
span#textcolor47{color:rgb(247,247,247)}
span#textcolor48{color:rgb(0,0,0)}
span#textcolor49{color:rgb(247,247,247)}
span#textcolor50{color:rgb(0,0,0)}
span#textcolor51{color:rgb(247,247,247)}
span#textcolor52{color:rgb(0,0,0)}
span#textcolor53{color:rgb(0,0,0)}
span#textcolor54{color:rgb(0,0,0)}
span#textcolor55{color:rgb(0,0,0)}
span#textcolor56{color:rgb(247,247,247)}
span#textcolor57{color:rgb(0,0,0)}
span#textcolor58{color:rgb(0,0,0)}
span#textcolor59{color:rgb(247,247,247)}
span#textcolor60{color:rgb(0,0,0)}
span#textcolor61{color:rgb(0,0,0)}
span#textcolor62{color:rgb(206,91,0)}
span#textcolor63{color:rgb(247,247,247)}
span#textcolor64{color:rgb(33,73,135)}
span#textcolor65{color:rgb(0,0,0)}
span#textcolor66{color:rgb(0,0,0)}
span#textcolor67{color:rgb(0,0,0)}
span#textcolor68{color:rgb(206,91,0)}
span#textcolor69{color:rgb(247,247,247)}
span#textcolor70{color:rgb(33,73,135)}
span#textcolor71{color:rgb(0,0,0)}
span#textcolor72{color:rgb(0,0,0)}
span#textcolor73{color:rgb(0,0,0)}
span#textcolor74{color:rgb(206,91,0)}
span#textcolor75{color:rgb(247,247,247)}
span#textcolor76{color:rgb(0,0,0)}
span#textcolor77{color:rgb(0,0,0)}
span#textcolor78{color:rgb(0,0,0)}
span#textcolor79{color:rgb(0,0,0)}
span#textcolor80{color:rgb(206,91,0)}
span#textcolor81{color:rgb(247,247,247)}
span#textcolor82{color:rgb(0,0,0)}
span#textcolor83{color:rgb(0,0,0)}
span#textcolor84{color:rgb(0,0,0)}
span#textcolor85{color:rgb(0,0,0)}
span#textcolor86{color:rgb(206,91,0)}
span#textcolor87{color:rgb(247,247,247)}
span#textcolor88{color:rgb(0,0,0)}
span#textcolor89{color:rgb(0,0,0)}
span#textcolor90{color:rgb(0,0,0)}
span#textcolor91{color:rgb(0,0,0)}
span#textcolor92{color:rgb(206,91,0)}
span#textcolor93{color:rgb(247,247,247)}
span#textcolor94{color:rgb(0,0,0)}
span#textcolor95{color:rgb(0,0,0)}
span#textcolor96{color:rgb(0,0,0)}
span#textcolor97{color:rgb(0,0,0)}
span#textcolor98{color:rgb(206,91,0)}
span#textcolor99{color:rgb(247,247,247)}
span#textcolor100{color:rgb(0,0,0)}
span#textcolor101{color:rgb(0,0,0)}
span#textcolor102{color:rgb(0,0,0)}
span#textcolor103{color:rgb(0,0,0)}
span#textcolor104{color:rgb(206,91,0)}
span#textcolor105{color:rgb(247,247,247)}
span#textcolor106{color:rgb(0,0,0)}
span#textcolor107{color:rgb(0,0,0)}
span#textcolor108{color:rgb(0,0,0)}
span#textcolor109{color:rgb(0,0,0)}
span#textcolor110{color:rgb(247,247,247)}
span#textcolor111{color:rgb(142,89,2)}
span#textcolor112{color:rgb(206,91,0)}
span#textcolor113{color:rgb(247,247,247)}
span#textcolor114{color:rgb(0,0,0)}
span#textcolor115{color:rgb(0,0,0)}
span#textcolor116{color:rgb(0,0,0)}
span#textcolor117{color:rgb(0,0,0)}
span#textcolor118{color:rgb(206,91,0)}
span#textcolor119{color:rgb(247,247,247)}
span#textcolor120{color:rgb(33,73,135)}
span#textcolor121{color:rgb(0,0,0)}
span#textcolor122{color:rgb(0,0,0)}
span#textcolor123{color:rgb(0,0,0)}
#TBL-1-1{border-right:1px solid black;}
#TBL-1-2{border-right:1px solid black;}
#TBL-1-3{border-right:1px solid black;}
#TBL-1-4{border-right:1px solid black;}
#TBL-2-1{border-right:1px solid black;}
#TBL-2-2{border-right:1px solid black;}
#TBL-2-3{border-right:1px solid black;}
#TBL-2-4{border-right:1px solid black;}
.columns-2 :first-child { margin-top: 0em; }
.columns-2{-moz-column-count:2; -webkit-column-count:2; column-count:2; -moz-column-gap: 10.0pt; -webkit-column-gap: 10.0pt; column-gap: 10.0pt; -moz-column-rule-width: 0.0pt; -webkit-column-rule-width: 0.0pt; column-rule-rule-width: 0.0pt; -moz-column-rule-color: #555; -webkit-column-rule-color: #555; column-rule-color: #555; -moz-column-rule-style: outset; -webkit-column-rule-style: outset; column-rule-style: outset; -moz-column-fill: balance; -webkit-column-fill: balance; column-fill: balance; }
span#textcolor124{color:rgb(142,89,2)}
span#textcolor125{color:rgb(142,89,2)}
span#textcolor126{color:rgb(142,89,2)}
span#textcolor127{color:rgb(33,73,135)}
span#textcolor128{color:rgb(247,247,247)}
span#textcolor129{color:rgb(33,73,135)}
span#textcolor130{color:rgb(0,0,0)}
span#textcolor131{color:rgb(247,247,247)}
span#textcolor132{color:rgb(33,73,135)}
span#textcolor133{color:rgb(247,247,247)}
span#textcolor134{color:rgb(33,73,135)}
span#textcolor135{color:rgb(0,0,0)}
span#textcolor136{color:rgb(247,247,247)}
span#textcolor137{color:rgb(33,73,135)}
span#textcolor138{color:rgb(142,89,2)}
span#textcolor139{color:rgb(0,0,0)}
span#textcolor140{color:rgb(0,0,0)}
span#textcolor141{color:rgb(0,0,206)}
span#textcolor142{color:rgb(0,0,0)}
span#textcolor143{color:rgb(247,247,247)}
span#textcolor144{color:rgb(142,89,2)}
span#textcolor145{color:rgb(0,0,0)}
span#textcolor146{color:rgb(0,0,0)}
span#textcolor147{color:rgb(0,0,206)}
span#textcolor148{color:rgb(0,0,0)}
span#textcolor149{color:rgb(247,247,247)}
span#textcolor150{color:rgb(142,89,2)}
span#textcolor151{color:rgb(0,0,0)}
span#textcolor152{color:rgb(0,0,0)}
span#textcolor153{color:rgb(0,0,206)}
span#textcolor154{color:rgb(0,0,0)}
span#textcolor155{color:rgb(247,247,247)}
span#textcolor156{color:rgb(142,89,2)}
span#textcolor157{color:rgb(0,0,0)}
span#textcolor158{color:rgb(0,0,0)}
span#textcolor159{color:rgb(0,0,206)}
span#textcolor160{color:rgb(0,0,0)}
span#textcolor161{color:rgb(247,247,247)}
span#textcolor162{color:rgb(142,89,2)}
span#textcolor163{color:rgb(142,89,2)}
span#textcolor164{color:rgb(0,0,0)}
span#textcolor165{color:rgb(0,0,0)}
span#textcolor166{color:rgb(0,0,206)}
span#textcolor167{color:rgb(0,0,0)}
span#textcolor168{color:rgb(0,0,0)}
span#textcolor169{color:rgb(0,0,0)}
span#textcolor170{color:rgb(0,0,206)}
span#textcolor171{color:rgb(206,91,0)}
span#textcolor172{color:rgb(0,0,206)}
span#textcolor173{color:rgb(0,0,0)}
span#textcolor174{color:rgb(247,247,247)}
span#textcolor175{color:rgb(0,0,0)}
span#textcolor176{color:rgb(0,0,0)}
span#textcolor177{color:rgb(0,0,0)}
span#textcolor178{color:rgb(206,91,0)}
span#textcolor179{color:rgb(0,0,0)}
span#textcolor180{color:rgb(0,0,0)}
span#textcolor181{color:rgb(0,0,0)}
span#textcolor182{color:rgb(0,0,0)}
span#textcolor183{color:rgb(0,0,206)}
span#textcolor184{color:rgb(206,91,0)}
span#textcolor185{color:rgb(0,0,206)}
span#textcolor186{color:rgb(0,0,0)}
span#textcolor187{color:rgb(247,247,247)}
span#textcolor188{color:rgb(0,0,0)}
span#textcolor189{color:rgb(0,0,0)}
span#textcolor190{color:rgb(0,0,0)}
span#textcolor191{color:rgb(206,91,0)}
span#textcolor192{color:rgb(0,0,0)}
span#textcolor193{color:rgb(0,0,0)}
span#textcolor194{color:rgb(0,0,0)}
span#textcolor195{color:rgb(0,0,0)}
span#textcolor196{color:rgb(0,0,0)}
span#textcolor197{color:rgb(0,0,0)}
span#textcolor198{color:rgb(79,153,5)}
span#textcolor199{color:rgb(0,0,0)}
span#textcolor200{color:rgb(0,0,0)}
span#textcolor201{color:rgb(0,0,0)}
span#textcolor202{color:rgb(0,0,0)}
span#textcolor203{color:rgb(206,91,0)}
span#textcolor204{color:rgb(0,0,0)}
span#textcolor205{color:rgb(0,0,206)}
span#textcolor206{color:rgb(206,91,0)}
span#textcolor207{color:rgb(0,0,0)}
span#textcolor208{color:rgb(206,91,0)}
span#textcolor209{color:rgb(0,0,0)}
span#textcolor210{color:rgb(206,91,0)}
span#textcolor211{color:rgb(0,0,0)}
span#textcolor212{color:rgb(206,91,0)}
span#textcolor213{color:rgb(0,0,0)}
span#textcolor214{color:rgb(0,0,0)}
span#textcolor215{color:rgb(142,89,2)}
span#textcolor216{color:rgb(0,0,0)}
span#textcolor217{color:rgb(0,0,0)}
span#textcolor218{color:rgb(0,0,206)}
span#textcolor219{color:rgb(247,247,247)}
span#textcolor220{color:rgb(0,0,206)}
span#textcolor221{color:rgb(0,0,0)}
span#textcolor222{color:rgb(206,91,0)}
span#textcolor223{color:rgb(0,0,0)}
span#textcolor224{color:rgb(206,91,0)}
span#textcolor225{color:rgb(0,0,0)}
span#textcolor226{color:rgb(247,247,247)}
span#textcolor227{color:rgb(206,91,0)}
span#textcolor228{color:rgb(0,0,0)}
span#textcolor229{color:rgb(206,91,0)}
span#textcolor230{color:rgb(0,0,0)}
span#textcolor231{color:rgb(0,0,0)}
span#textcolor232{color:rgb(0,0,0)}
span#textcolor233{color:rgb(0,0,0)}
span#textcolor234{color:rgb(0,0,206)}
span#textcolor235{color:rgb(0,0,0)}
span#textcolor236{color:rgb(206,91,0)}
span#textcolor237{color:rgb(0,0,206)}
span#textcolor238{color:rgb(0,0,0)}
span#textcolor239{color:rgb(0,0,0)}
span#textcolor240{color:rgb(0,0,0)}
span#textcolor241{color:rgb(0,0,206)}
span#textcolor242{color:rgb(0,0,0)}
span#textcolor243{color:rgb(0,0,0)}
span#textcolor244{color:rgb(206,91,0)}
span#textcolor245{color:rgb(0,0,0)}
span#textcolor246{color:rgb(0,0,0)}
span#textcolor247{color:rgb(0,0,0)}
span#textcolor248{color:rgb(0,0,0)}
span#textcolor249{color:rgb(0,0,0)}
span#textcolor250{color:rgb(247,247,247)}
span#textcolor251{color:rgb(0,0,0)}
span#textcolor252{color:rgb(0,0,0)}
span#textcolor253{color:rgb(0,0,0)}
span#textcolor254{color:rgb(0,0,0)}
span#textcolor255{color:rgb(0,0,206)}
span#textcolor256{color:rgb(247,247,247)}
span#textcolor257{color:rgb(0,0,206)}
span#textcolor258{color:rgb(0,0,0)}
span#textcolor259{color:rgb(0,0,0)}
span#textcolor260{color:rgb(0,0,0)}
span#textcolor261{color:rgb(0,0,206)}
span#textcolor262{color:rgb(0,0,0)}
span#textcolor263{color:rgb(0,0,0)}
span#textcolor264{color:rgb(0,0,0)}
span#textcolor265{color:rgb(0,0,206)}
span#textcolor266{color:rgb(0,0,0)}
span#textcolor267{color:rgb(0,0,0)}
span#textcolor268{color:rgb(0,0,0)}
span#textcolor269{color:rgb(0,0,0)}
span#textcolor270{color:rgb(247,247,247)}
span#textcolor271{color:rgb(0,0,0)}
span#textcolor272{color:rgb(0,0,0)}
span#textcolor273{color:rgb(0,0,0)}
span#textcolor274{color:rgb(0,0,0)}
span#textcolor275{color:rgb(0,0,0)}
span#textcolor276{color:rgb(0,0,0)}
span#textcolor277{color:rgb(0,0,0)}
span#textcolor278{color:rgb(0,0,0)}
span#textcolor279{color:rgb(0,0,0)}
span#textcolor280{color:rgb(0,0,0)}
span#textcolor281{color:rgb(0,0,0)}
span#textcolor282{color:rgb(0,0,0)}
span#textcolor283{color:rgb(0,0,0)}
span#textcolor284{color:rgb(0,0,0)}
span#textcolor285{color:rgb(0,0,0)}
span#textcolor286{color:rgb(0,0,0)}
span#textcolor287{color:rgb(0,0,0)}
span#textcolor288{color:rgb(0,0,0)}
span#textcolor289{color:rgb(0,0,0)}
span#textcolor290{color:rgb(0,0,0)}
span#textcolor291{color:rgb(0,0,0)}
span#textcolor292{color:rgb(0,0,0)}
span#textcolor293{color:rgb(0,0,0)}
span#textcolor294{color:rgb(0,0,0)}
span#textcolor295{color:rgb(0,0,0)}
span#textcolor296{color:rgb(0,0,0)}
span#textcolor297{color:rgb(0,0,0)}
span#textcolor298{color:rgb(0,0,0)}
span#textcolor299{color:rgb(0,0,0)}
span#textcolor300{color:rgb(0,0,0)}
span#textcolor301{color:rgb(0,0,0)}
span#textcolor302{color:rgb(0,0,0)}
span#textcolor303{color:rgb(142,89,2)}
span#textcolor304{color:rgb(0,0,0)}
span#textcolor305{color:rgb(0,0,0)}
span#textcolor306{color:rgb(0,0,0)}
span#textcolor307{color:rgb(206,91,0)}
span#textcolor308{color:rgb(0,0,0)}
span#textcolor309{color:rgb(206,91,0)}
span#textcolor310{color:rgb(0,0,0)}
span#textcolor311{color:rgb(0,0,206)}
span#textcolor312{color:rgb(206,91,0)}
span#textcolor313{color:rgb(0,0,0)}
span#textcolor314{color:rgb(206,91,0)}
span#textcolor315{color:rgb(0,0,0)}
span#textcolor316{color:rgb(0,0,0)}
span#textcolor317{color:rgb(0,0,0)}
span#textcolor318{color:rgb(0,0,0)}
span#textcolor319{color:rgb(0,0,0)}
span#textcolor320{color:rgb(0,0,0)}
span#textcolor321{color:rgb(0,0,0)}
span#textcolor322{color:rgb(0,0,0)}
span#textcolor323{color:rgb(247,247,247)}
span#textcolor324{color:rgb(142,89,2)}
span#textcolor325{color:rgb(33,73,135)}
span#textcolor326{color:rgb(0,0,0)}
span#textcolor327{color:rgb(0,0,0)}
span#textcolor328{color:rgb(0,0,0)}
span#textcolor329{color:rgb(0,0,0)}
span#textcolor330{color:rgb(0,0,0)}
span#textcolor331{color:rgb(142,89,2)}
span#textcolor332{color:rgb(0,0,0)}
span#textcolor333{color:rgb(0,0,0)}
span#textcolor334{color:rgb(0,0,206)}
span#textcolor335{color:rgb(0,0,0)}
span#textcolor336{color:rgb(247,247,247)}
span#textcolor337{color:rgb(142,89,2)}
span#textcolor338{color:rgb(0,0,0)}
span#textcolor339{color:rgb(0,0,0)}
span#textcolor340{color:rgb(0,0,206)}
span#textcolor341{color:rgb(0,0,0)}
span#textcolor342{color:rgb(247,247,247)}
span#textcolor343{color:rgb(142,89,2)}
span#textcolor344{color:rgb(0,0,0)}
span#textcolor345{color:rgb(0,0,0)}
span#textcolor346{color:rgb(0,0,206)}
span#textcolor347{color:rgb(206,91,0)}
span#textcolor348{color:rgb(0,0,0)}
span#textcolor349{color:rgb(0,0,0)}
span#textcolor350{color:rgb(247,247,247)}
span#textcolor351{color:rgb(142,89,2)}
span#textcolor352{color:rgb(0,0,0)}
span#textcolor353{color:rgb(0,0,0)}
span#textcolor354{color:rgb(33,73,135)}
span#textcolor355{color:rgb(0,0,0)}
span#textcolor356{color:rgb(79,153,5)}
span#textcolor357{color:rgb(0,0,0)}
span#textcolor358{color:rgb(0,0,0)}
span#textcolor359{color:rgb(0,0,0)}
span#textcolor360{color:rgb(33,73,135)}
span#textcolor361{color:rgb(0,0,0)}
span#textcolor362{color:rgb(0,0,0)}
span#textcolor363{color:rgb(0,0,0)}
span#textcolor364{color:rgb(0,0,0)}
span#textcolor365{color:rgb(0,0,0)}
span#textcolor366{color:rgb(0,0,0)}
span#textcolor367{color:rgb(0,0,0)}
span#textcolor368{color:rgb(0,0,206)}
span#textcolor369{color:rgb(0,0,0)}
span#textcolor370{color:rgb(247,247,247)}
span#textcolor371{color:rgb(142,89,2)}
span#textcolor372{color:rgb(0,0,0)}
span#textcolor373{color:rgb(0,0,0)}
span#textcolor374{color:rgb(33,73,135)}
span#textcolor375{color:rgb(0,0,0)}
span#textcolor376{color:rgb(0,0,206)}
span#textcolor377{color:rgb(0,0,0)}
span#textcolor378{color:rgb(0,0,0)}
span#textcolor379{color:rgb(206,91,0)}
span#textcolor380{color:rgb(0,0,0)}
span#textcolor381{color:rgb(0,0,0)}
span#textcolor382{color:rgb(0,0,0)}
span#textcolor383{color:rgb(0,0,0)}
span#textcolor384{color:rgb(0,0,0)}
span#textcolor385{color:rgb(0,0,0)}
span#textcolor386{color:rgb(0,0,0)}
span#textcolor387{color:rgb(0,0,0)}
span#textcolor388{color:rgb(206,91,0)}
span#textcolor389{color:rgb(247,247,247)}
span#textcolor390{color:rgb(0,0,0)}
span#textcolor391{color:rgb(0,0,0)}
span#textcolor392{color:rgb(0,0,0)}
span#textcolor393{color:rgb(206,91,0)}
span#textcolor394{color:rgb(0,0,206)}
span#textcolor395{color:rgb(0,0,0)}
span#textcolor396{color:rgb(247,247,247)}
span#textcolor397{color:rgb(142,89,2)}
span#textcolor398{color:rgb(0,0,0)}
span#textcolor399{color:rgb(0,0,0)}
span#textcolor400{color:rgb(79,153,5)}
span#textcolor401{color:rgb(0,0,0)}
span#textcolor402{color:#FF0000}
span#textcolor403{color:#FF0000}
#tcolobox-1 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-1 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-1 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor404{color:rgb(142,89,2)}
span#textcolor405{color:rgb(142,89,2)}
span#textcolor406{color:rgb(142,89,2)}
#tcolobox-1 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-2 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-2 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-2 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor407{color:rgb(142,89,2)}
span#textcolor408{color:rgb(142,89,2)}
span#textcolor409{color:rgb(142,89,2)}
#tcolobox-2 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-3 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-3 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-3 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor410{color:rgb(33,73,135)}
span#textcolor411{color:rgb(142,89,2)}
span#textcolor412{color:rgb(33,73,135)}
span#textcolor413{color:rgb(142,89,2)}
span#textcolor414{color:rgb(33,73,135)}
span#textcolor415{color:rgb(142,89,2)}
span#textcolor416{color:rgb(33,73,135)}
span#textcolor417{color:rgb(33,73,135)}
span#textcolor418{color:rgb(33,73,135)}
span#textcolor419{color:rgb(142,89,2)}
#tcolobox-3 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-4 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-4 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-4 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor420{color:rgb(33,73,135)}
span#textcolor421{color:rgb(142,89,2)}
span#textcolor422{color:rgb(33,73,135)}
span#textcolor423{color:rgb(142,89,2)}
#tcolobox-4 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-5 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-5 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-5 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor424{color:rgb(142,89,2)}
span#textcolor425{color:rgb(142,89,2)}
#tcolobox-5 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-6 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-6 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-6 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor426{color:rgb(33,73,135)}
span#textcolor427{color:rgb(142,89,2)}
span#textcolor428{color:rgb(33,73,135)}
span#textcolor429{color:rgb(142,89,2)}
span#textcolor430{color:rgb(33,73,135)}
span#textcolor431{color:rgb(142,89,2)}
#tcolobox-6 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-7 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-7 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-7 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor432{color:rgb(142,89,2)}
span#textcolor433{color:rgb(142,89,2)}
#tcolobox-7 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-8 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-8 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-8 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor434{color:rgb(142,89,2)}
span#textcolor435{color:rgb(33,73,135)}
span#textcolor436{color:rgb(142,89,2)}
#tcolobox-8 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-9 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-9 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-9 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor437{color:rgb(33,73,135)}
span#textcolor438{color:rgb(142,89,2)}
span#textcolor439{color:rgb(33,73,135)}
span#textcolor440{color:rgb(142,89,2)}
span#textcolor441{color:rgb(142,89,2)}
span#textcolor442{color:rgb(142,89,2)}
span#textcolor443{color:rgb(142,89,2)}
span#textcolor444{color:rgb(142,89,2)}
span#textcolor445{color:rgb(33,73,135)}
span#textcolor446{color:rgb(33,73,135)}
span#textcolor447{color:rgb(33,73,135)}
#tcolobox-9 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-10 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-10 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-10 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor448{color:rgb(142,89,2)}
#tcolobox-10 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-11 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-11 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-11 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor449{color:rgb(33,73,135)}
span#textcolor450{color:rgb(33,73,135)}
span#textcolor451{color:rgb(33,73,135)}
#tcolobox-11 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-12 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-12 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-12 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor452{color:rgb(33,73,135)}
span#textcolor453{color:rgb(33,73,135)}
#tcolobox-12 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-13 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-13 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-13 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor454{color:rgb(33,73,135)}
span#textcolor455{color:rgb(33,73,135)}
span#textcolor456{color:rgb(33,73,135)}
#tcolobox-13 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-14 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-14 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-14 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor457{color:rgb(33,73,135)}
span#textcolor458{color:rgb(33,73,135)}
span#textcolor459{color:rgb(33,73,135)}
span#textcolor460{color:rgb(33,73,135)}
span#textcolor461{color:rgb(33,73,135)}
span#textcolor462{color:rgb(33,73,135)}
span#textcolor463{color:rgb(33,73,135)}
span#textcolor464{color:rgb(33,73,135)}
span#textcolor465{color:rgb(33,73,135)}
#tcolobox-14 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-15 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-15 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-15 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor466{color:rgb(33,73,135)}
span#textcolor467{color:rgb(33,73,135)}
span#textcolor468{color:rgb(33,73,135)}
span#textcolor469{color:rgb(142,89,2)}
#tcolobox-15 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-16 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-16 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-16 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor470{color:rgb(33,73,135)}
span#textcolor471{color:rgb(33,73,135)}
#tcolobox-16 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-17 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-17 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-17 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor472{color:rgb(33,73,135)}
span#textcolor473{color:rgb(33,73,135)}
#tcolobox-17 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-18 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-18 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-18 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor474{color:rgb(33,73,135)}
span#textcolor475{color:rgb(33,73,135)}
span#textcolor476{color:rgb(33,73,135)}
#tcolobox-18 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-19 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-19 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-19 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor477{color:rgb(33,73,135)}
span#textcolor478{color:rgb(33,73,135)}
span#textcolor479{color:rgb(33,73,135)}
span#textcolor480{color:rgb(33,73,135)}
span#textcolor481{color:rgb(33,73,135)}
span#textcolor482{color:rgb(33,73,135)}
#tcolobox-19 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-20 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-20 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-20 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor483{color:rgb(33,73,135)}
span#textcolor484{color:rgb(33,73,135)}
#tcolobox-20 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-21 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-21 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-21 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor485{color:rgb(33,73,135)}
#tcolobox-21 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-22 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-22 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-22 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor486{color:rgb(33,73,135)}
span#textcolor487{color:rgb(33,73,135)}
#tcolobox-22 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-23 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-23 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-23 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor488{color:rgb(33,73,135)}
#tcolobox-23 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-24 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-24 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-24 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor489{color:rgb(142,89,2)}
span#textcolor490{color:rgb(33,73,135)}
span#textcolor491{color:rgb(33,73,135)}
span#textcolor492{color:rgb(33,73,135)}
span#textcolor493{color:rgb(142,89,2)}
span#textcolor494{color:rgb(142,89,2)}
span#textcolor495{color:rgb(33,73,135)}
span#textcolor496{color:rgb(33,73,135)}
span#textcolor497{color:rgb(33,73,135)}
span#textcolor498{color:rgb(142,89,2)}
span#textcolor499{color:rgb(142,89,2)}
span#textcolor500{color:rgb(33,73,135)}
span#textcolor501{color:rgb(33,73,135)}
span#textcolor502{color:rgb(33,73,135)}
span#textcolor503{color:rgb(33,73,135)}
#tcolobox-24 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-25 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-25 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-25 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor504{color:rgb(142,89,2)}
#tcolobox-25 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-26 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-26 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-26 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor505{color:rgb(142,89,2)}
span#textcolor506{color:rgb(142,89,2)}
span#textcolor507{color:rgb(33,73,135)}
span#textcolor508{color:rgb(142,89,2)}
span#textcolor509{color:rgb(33,73,135)}
span#textcolor510{color:rgb(33,73,135)}
#tcolobox-26 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-27 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-27 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-27 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor511{color:rgb(33,73,135)}
span#textcolor512{color:rgb(142,89,2)}
span#textcolor513{color:rgb(33,73,135)}
span#textcolor514{color:rgb(142,89,2)}
span#textcolor515{color:rgb(33,73,135)}
span#textcolor516{color:rgb(33,73,135)}
span#textcolor517{color:rgb(33,73,135)}
span#textcolor518{color:rgb(33,73,135)}
span#textcolor519{color:rgb(33,73,135)}
span#textcolor520{color:rgb(142,89,2)}
#tcolobox-27 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-28 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-28 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-28 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor521{color:rgb(33,73,135)}
span#textcolor522{color:rgb(142,89,2)}
span#textcolor523{color:rgb(142,89,2)}
span#textcolor524{color:rgb(33,73,135)}
span#textcolor525{color:rgb(142,89,2)}
#tcolobox-28 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-29 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-29 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-29 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor526{color:rgb(33,73,135)}
span#textcolor527{color:rgb(33,73,135)}
span#textcolor528{color:rgb(142,89,2)}
#tcolobox-29 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-30 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-30 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-30 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor529{color:rgb(142,89,2)}
span#textcolor530{color:rgb(33,73,135)}
span#textcolor531{color:rgb(33,73,135)}
span#textcolor532{color:rgb(142,89,2)}
span#textcolor533{color:rgb(142,89,2)}
span#textcolor534{color:rgb(142,89,2)}
span#textcolor535{color:rgb(142,89,2)}
span#textcolor536{color:rgb(142,89,2)}
span#textcolor537{color:rgb(33,73,135)}
span#textcolor538{color:rgb(142,89,2)}
span#textcolor539{color:rgb(33,73,135)}
span#textcolor540{color:rgb(142,89,2)}
span#textcolor541{color:rgb(33,73,135)}
span#textcolor542{color:rgb(33,73,135)}
span#textcolor543{color:rgb(142,89,2)}
span#textcolor544{color:rgb(33,73,135)}
span#textcolor545{color:rgb(142,89,2)}
span#textcolor546{color:rgb(33,73,135)}
span#textcolor547{color:rgb(33,73,135)}
span#textcolor548{color:rgb(142,89,2)}
span#textcolor549{color:rgb(33,73,135)}
span#textcolor550{color:rgb(33,73,135)}
span#textcolor551{color:rgb(33,73,135)}
span#textcolor552{color:rgb(142,89,2)}
span#textcolor553{color:rgb(33,73,135)}
span#textcolor554{color:rgb(33,73,135)}
span#textcolor555{color:rgb(33,73,135)}
span#textcolor556{color:rgb(33,73,135)}
span#textcolor557{color:rgb(33,73,135)}
span#textcolor558{color:rgb(142,89,2)}
span#textcolor559{color:rgb(33,73,135)}
span#textcolor560{color:rgb(33,73,135)}
span#textcolor561{color:rgb(33,73,135)}
span#textcolor562{color:rgb(33,73,135)}
span#textcolor563{color:rgb(33,73,135)}
span#textcolor564{color:rgb(33,73,135)}
span#textcolor565{color:rgb(142,89,2)}
span#textcolor566{color:rgb(142,89,2)}
span#textcolor567{color:rgb(33,73,135)}
span#textcolor568{color:rgb(142,89,2)}
span#textcolor569{color:rgb(33,73,135)}
span#textcolor570{color:rgb(142,89,2)}
span#textcolor571{color:rgb(33,73,135)}
span#textcolor572{color:rgb(142,89,2)}
span#textcolor573{color:rgb(33,73,135)}
span#textcolor574{color:rgb(33,73,135)}
span#textcolor575{color:rgb(142,89,2)}
#tcolobox-30 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-31 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-31 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-31 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor576{color:rgb(142,89,2)}
span#textcolor577{color:rgb(142,89,2)}
span#textcolor578{color:rgb(142,89,2)}
#tcolobox-31 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-32 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-32 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-32 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor579{color:rgb(142,89,2)}
span#textcolor580{color:rgb(33,73,135)}
span#textcolor581{color:rgb(142,89,2)}
span#textcolor582{color:rgb(33,73,135)}
span#textcolor583{color:rgb(142,89,2)}
span#textcolor584{color:rgb(142,89,2)}
#tcolobox-32 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-33 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-33 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-33 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor585{color:rgb(33,73,135)}
span#textcolor586{color:rgb(33,73,135)}
span#textcolor587{color:rgb(142,89,2)}
span#textcolor588{color:rgb(33,73,135)}
span#textcolor589{color:rgb(33,73,135)}
span#textcolor590{color:rgb(33,73,135)}
span#textcolor591{color:rgb(33,73,135)}
span#textcolor592{color:rgb(142,89,2)}
span#textcolor593{color:rgb(33,73,135)}
span#textcolor594{color:rgb(33,73,135)}
span#textcolor595{color:rgb(33,73,135)}
#tcolobox-33 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-34 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-34 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-34 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor596{color:rgb(142,89,2)}
span#textcolor597{color:rgb(142,89,2)}
span#textcolor598{color:rgb(142,89,2)}
span#textcolor599{color:rgb(142,89,2)}
span#textcolor600{color:rgb(142,89,2)}
span#textcolor601{color:rgb(142,89,2)}
span#textcolor602{color:rgb(33,73,135)}
span#textcolor603{color:rgb(33,73,135)}
#tcolobox-34 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-35 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-35 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-35 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor604{color:rgb(142,89,2)}
span#textcolor605{color:rgb(142,89,2)}
span#textcolor606{color:rgb(142,89,2)}
span#textcolor607{color:rgb(33,73,135)}
span#textcolor608{color:rgb(33,73,135)}
span#textcolor609{color:rgb(142,89,2)}
span#textcolor610{color:rgb(33,73,135)}
span#textcolor611{color:rgb(142,89,2)}
span#textcolor612{color:rgb(33,73,135)}
span#textcolor613{color:rgb(142,89,2)}
span#textcolor614{color:rgb(142,89,2)}
span#textcolor615{color:rgb(142,89,2)}
span#textcolor616{color:rgb(142,89,2)}
span#textcolor617{color:rgb(33,73,135)}
#tcolobox-35 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-36 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-36 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-36 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor618{color:rgb(33,73,135)}
span#textcolor619{color:rgb(33,73,135)}
#tcolobox-36 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-37 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-37 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-37 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor620{color:rgb(33,73,135)}
#tcolobox-37 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-38 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-38 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-38 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor621{color:rgb(33,73,135)}
span#textcolor622{color:rgb(33,73,135)}
span#textcolor623{color:rgb(33,73,135)}
span#textcolor624{color:rgb(142,89,2)}
span#textcolor625{color:rgb(33,73,135)}
span#textcolor626{color:rgb(142,89,2)}
span#textcolor627{color:rgb(33,73,135)}
#tcolobox-38 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-39 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-39 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-39 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor628{color:rgb(142,89,2)}
span#textcolor629{color:rgb(33,73,135)}
#tcolobox-39 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-40 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-40 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-40 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor630{color:rgb(142,89,2)}
span#textcolor631{color:rgb(142,89,2)}
span#textcolor632{color:rgb(33,73,135)}
#tcolobox-40 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-41 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-41 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-41 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor633{color:rgb(33,73,135)}
span#textcolor634{color:rgb(142,89,2)}
span#textcolor635{color:rgb(33,73,135)}
span#textcolor636{color:rgb(142,89,2)}
span#textcolor637{color:rgb(142,89,2)}
span#textcolor638{color:rgb(142,89,2)}
#tcolobox-41 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-42 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-42 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-42 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor639{color:rgb(142,89,2)}
span#textcolor640{color:rgb(142,89,2)}
#tcolobox-42 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-43 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-43 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-43 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor641{color:rgb(142,89,2)}
span#textcolor642{color:rgb(142,89,2)}
span#textcolor643{color:rgb(142,89,2)}
#tcolobox-43 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-44 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-44 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-44 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor644{color:rgb(142,89,2)}
span#textcolor645{color:rgb(142,89,2)}
span#textcolor646{color:rgb(142,89,2)}
span#textcolor647{color:rgb(33,73,135)}
span#textcolor648{color:rgb(142,89,2)}
span#textcolor649{color:rgb(142,89,2)}
#tcolobox-44 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-45 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-45 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-45 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor650{color:rgb(142,89,2)}
span#textcolor651{color:rgb(142,89,2)}
span#textcolor652{color:rgb(142,89,2)}
#tcolobox-45 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-46 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-46 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-46 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor653{color:rgb(142,89,2)}
span#textcolor654{color:rgb(33,73,135)}
span#textcolor655{color:rgb(142,89,2)}
span#textcolor656{color:rgb(33,73,135)}
#tcolobox-46 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-47 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-47 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-47 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor657{color:rgb(142,89,2)}
span#textcolor658{color:rgb(33,73,135)}
span#textcolor659{color:rgb(142,89,2)}
span#textcolor660{color:rgb(142,89,2)}
#tcolobox-47 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#tcolobox-48 .tcolorbox-title{color: #FFFFFF; background-color: #404040;}
#tcolobox-48 .tcolorbox-content{color: #000000; background-color: #E5E5E5; border: 1px solid #404040;}
#tcolobox-48 div{ padding-top:8.5358px; padding-bottom:8.5358px; padding-left:2.84526px; padding-right:14.22635px; }
span#textcolor661{color:rgb(142,89,2)}
span#textcolor662{color:rgb(33,73,135)}
span#textcolor663{color:rgb(142,89,2)}
span#textcolor664{color:rgb(33,73,135)}
span#textcolor665{color:rgb(142,89,2)}
span#textcolor666{color:rgb(142,89,2)}
#tcolobox-48 .lstinputlisting{margin-bottom:0em;margin-top:0em;border: none;}
#listing-1{border: 1px solid #545454;}
/* end css.sty */

